<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif;">
    <h2>Hello {{name}},</h2>
    <p>You requested a password reset.</p>
    <p>Click the link below to reset your password:</p>
    <p><a href="{{resetLink}}" target="_blank">{{resetLink}}</a></p>
    <p>This link expires in 15 minutes.</p>
    <hr>
    <p>Thanks,<br>Enrilo Team</p>
  </body>
</html>
